

@tailwind base;

@tailwind components;

@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



button {
    outline: none !important;
}

/* === Map style === */
#google-map,.google-map {
    height: 100%;
}
.h-map {
    height: calc(50vh - 74px);
}


/* == Css Animations == */

.move-right {
    transition: 0ms;
    transform: translateX(100%);
    animation: moveLeft .25s ease-out forwards 0.5s;
}

@keyframes moveLeft {
    to {
        transform: translateX(0%);
    }
}

.hide-loader {
    visibility: visible;

}

@keyframes hideLoader {
    to {
        visibility: hidden;
    }
}

.map-wrapper{
    height: calc(100vh - 74px);
}

.map-pin-wrapper{
    min-width: 250px;
    z-index: 100;
    position: relative;
    border: 1px solid rgba(0,0,0, .1);
    transform: translate(-39%, calc(-100% - 21px));
}

.map-pin-wrapper::after{
    content: '';
    border-width: 10px;
    border-color: #ffffff transparent transparent transparent;
    position: absolute;
    top: 100%;
    left: 42%;
}

.pins-image{
    height: 130px;
}

.pin{
    margin-bottom: -21px;
    left: 42%;
}
/* === Loader Css === */

.absolutely-center {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.lds-default {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
}

.lds-default div {
    position: absolute;
    width: 5px;
    height: 5px;
    background: gray;
    border-radius: 50%;
    animation: lds-default 1.2s linear infinite;
}

.lds-default div:nth-child(1) {
    animation-delay: 0s;
    top: 29px;
    left: 53px;
}

.lds-default div:nth-child(2) {
    animation-delay: -0.1s;
    top: 18px;
    left: 50px;
}

.lds-default div:nth-child(3) {
    animation-delay: -0.2s;
    top: 9px;
    left: 41px;
}

.lds-default div:nth-child(4) {
    animation-delay: -0.3s;
    top: 6px;
    left: 29px;
}

.lds-default div:nth-child(5) {
    animation-delay: -0.4s;
    top: 9px;
    left: 18px;
}

.lds-default div:nth-child(6) {
    animation-delay: -0.5s;
    top: 18px;
    left: 9px;
}

.lds-default div:nth-child(7) {
    animation-delay: -0.6s;
    top: 29px;
    left: 6px;
}

.lds-default div:nth-child(8) {
    animation-delay: -0.7s;
    top: 41px;
    left: 9px;
}

.lds-default div:nth-child(9) {
    animation-delay: -0.8s;
    top: 50px;
    left: 18px;
}

.lds-default div:nth-child(10) {
    animation-delay: -0.9s;
    top: 53px;
    left: 29px;
}

.lds-default div:nth-child(11) {
    animation-delay: -1s;
    top: 50px;
    left: 41px;
}

.lds-default div:nth-child(12) {
    animation-delay: -1.1s;
    top: 41px;
    left: 50px;
}

@keyframes lds-default {
    0%, 20%, 80%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.5);
    }
}

@media screen and (min-width: 1024px) {
    .h-map {
        height: calc(100vh - 74px);
    }
}

.hide-all>div:first-child{
    visibility: hidden !important;
    z-index: 500;
}
.hide-all>.red-pin{
    visibility: hidden;
}
.hover-marker:first-child{
    z-index: 500;
}
.hover-marker>.red-pin{
    visibility: visible ;
}
.hover-marker>.blue-pin{
    visibility: hidden ;
}
.red-pin {
    padding: "4.5px";
    z-index: 1;
    background-image:url('./images/red-pin.png')
}

.blue-pin {
    padding: "4.5px";
    z-index: 1;
    background-image:url('./images/map-pin.png')
}